extends base.pug

block content

    h1 Upload
    if errorMessage 
        div = errorMessage

    form(method="POST")
        input(name="title",placeholder="title",required,type="text", maxlength=30)
        input(name="description",placeholder="description",required,type="text", maxlength=140)
        input(name="hashtags",placeholder="hashtags, separated by comma.",required,type="text")
        input(type="submit")